<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>wetter</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- map -->
	<servlet>
		<servlet-name>map</servlet-name>
		<jsp-file>/map.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>map</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>

	<!-- news -->
	<servlet>
		<servlet-name>news</servlet-name>
		<jsp-file>/news.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>news</servlet-name>
		<url-pattern>/news</url-pattern>
	</servlet-mapping>

	<!-- stats -->
	<servlet>
		<servlet-name>stats</servlet-name>
		<jsp-file>/stats.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>stats</servlet-name>
		<url-pattern>/stats</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/resources/errors/oops.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/resources/errors/oops.jsp</location>
	</error-page>

</web-app>